<div ng-controller="MainCtrl">
	<h4 class="page-title"><span ng-bind="pageHeader"></span> <span class="pull-right"> Found <span ng-bind="filteredpersons.length"></span> records</span></h4>
	<div class=" search col-md-12">
		<div class="col-md-3">
			<input class="form-control" placeholder="Search by Name" type="text" ng-model="search.name" />
		</div>
		<div class="col-md-3">
			<input class="form-control" placeholder="Search by Company" type="text" ng-model="search.country" />
		</div>
	</div>
	<div class="col-md-12 persons-container">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th ng-click="insertSortType('name')">Name <span class="glyphicon sort-icon" ng-show="sortParam=='name'" ng-class="{'glyphicon-chevron-down':reverse,'glyphicon-chevron-up':!reverse}"></span></th>
					<th ng-click="insertSortType('age')">Age<span class="glyphicon sort-icon" ng-show="sortParam=='age'" ng-class="{'glyphicon-chevron-down':reverse,'glyphicon-chevron-up':!reverse}"></span></th>
					<th ng-click="insertSortType('phone')">Phone<span class="glyphicon sort-icon" ng-show="sortParam=='phone'" ng-class="{'glyphicon-chevron-down':reverse,'glyphicon-chevron-up':!reverse}"></span></th>
					<th ng-click="insertSortType('username')">Username<span class="glyphicon sort-icon" ng-show="sortParam=='username'" ng-class="{'glyphicon-chevron-down':reverse,'glyphicon-chevron-up':!reverse}"></span></th>
					<th ng-click="insertSortType('city')">City<span class="glyphicon sort-icon" ng-show="sortParam=='city'" ng-class="{'glyphicon-chevron-down':reverse,'glyphicon-chevron-up':!reverse}"></span></th>
					<th ng-click="insertSortType('address')">Address<span class="glyphicon sort-icon" ng-show="sortParam=='address'" ng-class="{'glyphicon-chevron-down':reverse,'glyphicon-chevron-up':!reverse}"></span></th>
					<th ng-click="insertSortType('company')">Company<span class="glyphicon sort-icon" ng-show="sortParam=='company'" ng-class="{'glyphicon-chevron-down':reverse,'glyphicon-chevron-up':!reverse}"></span></th>
					<th ng-click="insertSortType('balance')">Balance<span class="glyphicon sort-icon" ng-show="sortParam=='balance'" ng-class="{'glyphicon-chevron-down':reverse,'glyphicon-chevron-up':!reverse}"></span></th>
					<th ng-click="insertSortType('gender')">Gender<span class="glyphicon sort-icon" ng-show="sortParam=='gender'" ng-class="{'glyphicon-chevron-down':reverse,'glyphicon-chevron-up':!reverse}"></span></th>
				</tr>
			</thead>
			<tbody>
				<tr class="person" ng-class="{'not-active': !person.active}" ng-click="goOnClient(person)" ng-repeat="person in filteredpersons = (People | filter:search.city | filter:search.name | orderBy:sortParam:reverse)">
					<td data-trigger="hover" data-type="{{tooltip.type}}" data-title="{{tooltip.title}}" data-container="{{tooltip.container}}" bs-tooltip>
						<strong ng-bind="person.name" ng-model="search.name"></strong>
					</td>
					<td><span ng-bind="person.age"></span></td>
					<td><span ng-bind="person.phone"></span></td>
					<td><span ng-bind="person.username"></span></td>
					<td><span ng-bind="person.city" ng-model="search.city"></span></td>
					<td><span ng-bind="person.address"></span></td>
					<td><span ng-bind="person.company"></span></td>
					<td><span ng-bind="person.balance"></span></td>
					<td><span ng-bind="person.gender"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>