<div class="col-md-3 product" ng-repeat="product in products">
	<div class="wrap-product clearfix">
		<div class="p-image">
			<img ng-src="{{product.ImgUrl}}" alt="{{product.name}}" />
		</div>
		<div class="p-title">
			<div class="col-md-6">Title</div>
			<div class="col-md-6">{{product.name}}</div>
		</div>
		<div class="p-price">
			<div class="col-md-6">Price</div>
			<div class="col-md-6">{{product.price}}$</div>
		</div>
		<div class="p-description">
			<div class="col-md-6">Description</div>
			<div class="col-md-6">{{product.description}}</div>
		</div>
		<div class="product-footer clearfix">
			<div class="p-control">
				<button class="btn btn-success more">More</button>
			</div>
			<div class="p-control">
				<button class="btn btn-danger delete">Delete</button>
			</div>
		</div>
	</div>
</div>